$primary: steelblue;

body {
	margin: 2em;
	background-color: lighten($primary, 50%);
}
.question {
	font-size: 1.4em;
}
.main {
	border: 3px solid $primary;
	border-radius: 14px;
	padding: 1em;
}
.btn {
	background-color: $primary !important;
}